.navbar-default {
  background-color: #008000;
  border-color: #553055;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #005000;
}

.navbar-default .navbar-toggle {
  border-color: #008000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #005000;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #005000;
}

.navbar-default .dropdown-menu > li > a:hover {
  background-color: #005000;
}

.icon {
  height: 120px;
  width: 120px;
  border-radius: 20px;
}
